################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/projects/06/Assembler/.vs/Assembler/v15/Server/sqlite3/db.lock
